<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171826103-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171826103-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A fun game solely developed for the 
                purpose of entertainment. Jump from ledge to ledge to reach 
                the green square while avoiding tricks and traps.">
    <meta name="keywords" content="Dumb Gaming,Dumb game,dumb,gaming,game,
                platformer,fun,entertainment,project,developer,blocks,
                level creator">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/favicon.svg" />
    <title>Dumb Gaming</title>
</head>

<!-- <body class="no_select" id="body">
    <header>
        <img src="DumbGamingLogo.svg" class="logo" onclick="homeScreen()" alt="Dumb Gaming logo">

        <div class="navigationBar">
            <button class="navigation" onclick=" startGame(1)">New Game</button>
            <button class="navigation" onclick="location.href='/community'">Community Levels</button>
            <button class="navigation" onclick="location.href='/creative'">Level Creator</button>
            <button class="navigation">Races</button>
            <button class="navigation" id="logging" onclick="location.href='/login'">Log In</button>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header>
    <div class="mobileNavigation">
        <button class="navigation" onclick=" startGame(1)">New Game</button>
        <button class="navigation" onclick="location.href='/community'">Community Levels</button>
        <button class="navigation" onclick="location.href='/creative'">Level Creator</button>
        <button class="navigation">Races</button>
        <button class="navigation" id="logging" onclick="location.href='/logout'">Log Out</button>
    </div>

    <section class="main-container">
        <div class="gameDiv" id="gameDiv">
            <div id="usernamePlacement">
                <div id="usernamePlacementTop">
                    <h3 id="username">Welcome, <%=username%></h3>
                    <h3 class="stats-toggle"> &lt Click to show stats &lt </h3>
                </div>
                <ul class="playerStats">
                    <li id="time"> Fastest Time:
                        <%=time==9999999 ? "NA (Haven't completed hardcore mode yet)" : Math.round(time / 1000) + "s"%>
                    </li>
                    <li id="current-level"> Current Level: <%=level ? level : "0 (Click new game to start!)"%></li>
                </ul>
            </div>

            <canvas class="canvas" id="canvasId"></canvas>

            <div class="slideshow-container hide_slideshow" id="slideshow-container">
                <div class="slides fade">
                    <img class="slide-images" src="image1.png" alt="game image">
                    <div class="text">Learning how to play...</div>
                </div>
                <div class="slides fade">
                    <img class="slide-images" src="image2.png" alt="game image">
                    <div class="text">is simple.</div>
                </div>
                <div class="slides fade">
                    <img class="slide-images" src="image3.png" alt="game image">
                    <div class="text blackText">Learning how to win...</div>
                </div>
                <div class="slides fade">
                    <img class="slide-images" src="image4.png" alt="game image">
                    <div class="text blackText">is not.</div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <br>
                <div class="dots">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
        </div>
        <div class="leaderboardWrapper">
            <div class="leaderboard">
                <h3>Hardcore leaderboard</h3>
                <div class="records">
                    <ul class="recordsText" id="names">
                        <li class="name">
                            <p class="names" id="name">Name</p>
                            <p class="times" id="time">Time</p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p1"></p>
                            <p class="times" id="t1"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p2"></p>
                            <p class="times" id="t2"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p3"></p>
                            <p class="times" id="t3"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p4"></p>
                            <p class="times" id="t4"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p5"></p>
                            <p class="times" id="t5"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p6"></p>
                            <p class="times" id="t6"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p7"></p>
                            <p class="times" id="t7"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p8"></p>
                            <p class="times" id="t8"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p9"></p>
                            <p class="times" id="t9"></p>
                        </li>
                        <li class="single-record">
                            <p class="names" id="p10"></p>
                            <p class="times" id="t10"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="options optionsAdjust">
        <div class="optionsRow">
            <div class="optionsCard gameCard">
                <div class="playGameCard">
                    <div class="iconContainer">
                        <img src="joystick.svg" class="icon" alt="icon">
                    </div>
                    <button class="myButton gameButton" id="playGame">New Game</button>
                    <h3 class="cardDescription">Play the campaign! Learn the how to play and compete to get your name on
                        the
                        leaderboard!</h3>
                </div>
                <div class="newGameCard">
                    <button class="myButton gameButton" id="newGame" onclick="startGame(1)">New Game</button>
                    <button class="myButton gameButton" id="newHardcoreGame" onclick="startGame(2)">New Hardcore
                        Game</button>
                    <button class="myButton gameButton" id="playGameBack">Back</button>
                </div>
            </div>
            <div class="optionsCard">
                <div class="iconContainer">
                    <img src="user.svg" class="icon" alt="icon">
                </div>
                <button class="myButton gameButton" id="communityPage" onclick="location.href='/community'">Community
                    Levels</button>
                <h3 class="cardDescription">Play levels created by other players!</h3>
            </div>
        </div>
        <div class="optionsRow">
            <div class="optionsCard">
                <div class="iconContainer">
                    <img src="hammer.svg" class="icon" alt="icon">
                </div>
                <button class="myButton gameButton" id="levelEditor" onclick="location.href='/creative'">Level
                    Creator</button>
                <h3 class="cardDescription">Create your own levels for other players to play!</h3>
            </div>
            <div class="optionsCard">
                <div class="iconContainer">
                    <img src="versus.svg" class="icon" alt="icon">
                </div>
                <button class="myButton gameButton" id="races">Races</button>
                <h3 class="cardDescription">Think you've mastered the game? Challenge other players to see
                    who's the fastest! <div style="color: red;">Races Coming Soon</div>
                </h3>
            </div>
        </div>
    </section>
    <div class="iconCredit">
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>
    <footer>
        <div class="about-me footer-text">
            <div class="about-text">
                <h2 class="footer-title">About Me</h2>
                <p>
                    Thanks for visiting my website! My name is Cole Patton and I am the sole developer of this website.
                    This
                    website is a small project of mine that I work on for fun,
                    and acts as a playground for me to experiment with different aspects of full stack development.
                    Please
                    feel free to email me with any advice or suggestions.
                </p>
            </div>
        </div>
        <div class="contact footer-text">
            <div class="contact-text">
                <h2 class="footer-title">Contact</h2>
                <p>
                    For questions, suggestions, or issues with the site, please contact me at
                    <a href="mailto:patton1502@gmail.com">patton1502@gmail.com</a>
                </p>
            </div>
        </div>
    </footer> -->


    <body class="no_select" id="body">
        <header>
            <img src="DumbGamingLogo.svg" class="logo" onclick="homeScreen()" alt="Dumb Gaming logo">
    
            <div class="navigationBar">
                <a class="navigation" onclick="location.href='/'">Home</a>
                <a class="navigation" onclick="location.href='/community'">Community Levels</a>
                <a class="navigation" onclick="location.href='/creative'">Level Creator</a>
                <!-- <a class="navigation">Races</a> -->
                <a class="navigation" id="logging" onclick="location.href='/login'">Log In</a>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </header>
        <div class="mobileNavigation">
            <a class="navigation" onclick="location.href='/'">Home</a>
            <a class="navigation" onclick="location.href='/community'">Community Levels</a>
            <a class="navigation" onclick="location.href='/creative'">Level Creator</a>
            <!-- <a class="navigation">Races</a> -->
            <a class="navigation" id="logging" onclick="location.href='/login'">Log In</a>
        </div>
        <div class="bodyContainer">
            <section class="mainContainer" id="mainContainer">
                <div class="options optionsAdjust">
                    <h2>Welcome, <%=username%></h2>
                    <p>Click "New Game" to start playing, or click "Hardcore" to prove your skill and have a chance at 
                        making it on the leaderboard</p>
                    <div class="optionButtons">
                        <div class="optionsCard">
                            <span class="optionsCardBackground"></span>
                            <button class="myButton gameButton" id="newGame" onclick="startGame(1)">New Game</button>
                            <p class="cardDescription reveal">Play the campaign! Jump from block to block and reach the
                                green
                                square. As simple as a game can be.</p>
                        </div>
                        <div class="optionsCard">
                            <span class="optionsCardBackground"></span>
                            <button class="myButton gameButton" id="newHardcoreGame" onclick="startGame(2)">New Hardcore
                                Game</button>
                            <p class="cardDescription reveal">No hints. No help. No mercy. Race through the campaign for a
                                chance to make it on the leaderboard!</p>
                        </div>
                        <div class="optionsCard">
                            <span class="optionsCardBackground"></span>
                            <button class="myButton gameButton" id="communityPage"
                                onclick="location.href='/community'">Community
                                Levels</button>
                            <p class="cardDescription reveal">Play levels created by other players!</p>
                        </div>
                        <div class="optionsCard">
                            <span class="optionsCardBackground"></span>
                            <button class="myButton gameButton" id="levelEditor" onclick="location.href='/creative'">Level
                                Creator</button>
                            <p class="cardDescription reveal">Create your own levels for other players to play!</p>
                        </div>
                    </div>
                </div>
                <div class="middleWrapper">
                    <!-- <div class="dots">
                        <span onclick="plusSlides(-1)">
                            <a class="prev">&#10094;</a>
                        </span>
                        <img class="dot slide-images" src="image1.png" alt="game image" onclick="currentSlide(1)">
                        <img class="dot slide-images" src="image2.png" alt="game image" onclick="currentSlide(2)">
                        <img class="dot slide-images" src="image3.png" alt="game image" onclick="currentSlide(3)">
                        <img class="dot slide-images" src="image4.png" alt="game image" onclick="currentSlide(4)">
                        <span onclick="plusSlides(1)">
                            <a class="next">&#10095;</a>
                        </span>
                    </div> -->
                    <div class="slideshow-container hide_slideshow" id="slideshow-container">
                        <div class="slides fade">
                            <img class="slide-images" src="image2.png" alt="game image">
                        </div>
                        <div class="slides fade">
                            <img class="slide-images" src="image3.png" alt="game image">
                        </div>
                        <div class="slides fade">
                            <img class="slide-images" src="image4.png" alt="game image">
                        </div>
                        <div class="slides fade">
                            <img class="slide-images" src="image1.png" alt="game image">
                        </div>
                        <div class="dots">
                            <!-- <span onclick="plusSlides(-1)">
                            </span> -->
                            <img class="prev" src="Arrow.svg" alt="" onclick="plusSlides(-1)">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                            <span class="dot" onclick="currentSlide(4)"></span>
                            <img class="next" src="Arrow.svg" alt="" onclick="plusSlides(1)">
                            <!-- <span onclick="plusSlides(1)">
                            </span> -->
                        </div>
                    </div>
    
                    <div class="leaderboard">
                        <div>
                            <h3>Hardcore leaderboard</h3>
                        </div>
                        <!-- <div class="records"> -->
                        <div class="single-record">
                            <p class="names p1"></p>
                            <p class="times t1"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p2"></p>
                            <p class="times t2"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p3"></p>
                            <p class="times t3"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p4"></p>
                            <p class="times t4"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p5"></p>
                            <p class="times t5"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p6"></p>
                            <p class="times t6"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p7"></p>
                            <p class="times t7"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p8"></p>
                            <p class="times t8"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p9"></p>
                            <p class="times t9"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p10"></p>
                            <p class="times t10"></p>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </section>
    
            <section class="gameContainer" id="gameContainer">
                <div class="middleWrapper">
                    <div class="gameDiv" id="gameDiv">
                        <canvas class="canvas" id="canvasId"></canvas>
                    </div>
                    <div class="leaderboard">
                        <h3>Hardcore leaderboard</h3>
                        <!-- <div class="records"> -->
                        <div class="single-record">
                            <p class="names p1"></p>
                            <p class="times t1"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p2"></p>
                            <p class="times t2"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p3"></p>
                            <p class="times t3"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p4"></p>
                            <p class="times t4"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p5"></p>
                            <p class="times t5"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p6"></p>
                            <p class="times t6"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p7"></p>
                            <p class="times t7"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p8"></p>
                            <p class="times t8"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p9"></p>
                            <p class="times t9"></p>
                        </div>
                        <div class="single-record">
                            <p class="names p10"></p>
                            <p class="times t10"></p>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <span class="footer-line"></span>
            <div class="about-me footer-text">
                <div class="about-text">
                    <h2 class="footer-title">About Me</h2>
                    <p>
                        Thanks for visiting my website! My name is Cole Patton and I am the sole developer of this website.
                        This
                        website is a small project of mine that I work on for fun,
                        and acts as a playground for me to experiment with different aspects of full stack development.
                        Please
                        feel free to email me with any advice or suggestions.
                    </p>
                </div>
            </div>
            <div class="contact footer-text">
                <div class="contact-text">
                    <h2 class="footer-title">Contact</h2>
                    <p>
                        For questions, suggestions, or issues with the site, please contact me at
                        <a href="mailto:patton1502@gmail.com">patton1502@gmail.com</a>
                    </p>
                </div>
            </div>
        </footer>


    <!-- Start JavaScript -->
    <!-- Start JavaScript -->
    <!-- Start JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="block.js"></script>
    <script src="display.js"></script>
    <script src="controller.js"></script>
    <script src="levelEditor.js"></script>
    <script src="game.js"></script>
    <script src="home.js"></script>
    <script>
        logIn(<%- JSON.stringify(username) %>);

        var socket = io();
        
        socket.on('topTenResponse', function (data) {
            if (data.success) {
                for (let i = 0; i < data.leaderboard.length; i++) {
                    const name = data.leaderboard[i].player_username;
                    const time = data.leaderboard[i].best_time;

                    const nameElements = document.getElementsByClassName("p" + (i + 1));
                    const timeElements = document.getElementsByClassName("t" + (i + 1));

                    for (let j = 0; j < nameElements.length; j++) {
                        nameElements[j].innerText = (i + 1) + ". " + name;
                    }
                    for (let j = 0; j < timeElements.length; j++) {
                        timeElements[j].innerText = Math.round(time / 1000) + "s";
                    }
                }
            }
        });

        document.getElementById("logging").onclick = function () {
            location.href = "/logout";
        };
        socket.on('saveLevelResponse', function (data) {
            levelSaved(data.success);
        });
        socket.on('loadLevelResponse', function (data) {
            loadBlocksFromArray(data.blockData);
            // if (data.blockData.length > 0) {
            //     document.getElementById("current-level").innerHTML = "Current Level: " + data.blockData[0].level_id;
            // }
        });
        socket.on('personalBestResponse', function (data) {
            if (data.success) {
                compareTimes(data.storedBestTime);
            }
        });
        socket.on('setBestResponse', function (data) {
            if (data.success) {
                alert("CONGRATS! NEW PERSONAL RECORD!");
            }
        });
        socket.on('loadCampaignProgressResponse', function (data) {
            loadBlocksFromArray(data.blockData);
            continueGame(data.level);
        });
        socket.on('checkName', function (data) {
            socket.emit('checkNameR', { n: <%- JSON.stringify(username) %> });
        })
        socket.on('setSessionID', function (data) {
            localStorage.setItem("uid", data.sid);
        })
        socket.on('getSessionID', function (data) {
            const sid = localStorage.getItem("uid");
            socket.emit('getSessionIDResponse', { sid: sid });
        })
    </script>
</body>

</html>